*{
    margin: 0;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 24px;
}
h1{
    text-align: center;
}
.input{
    margin-left: 800px;
    text-align: left;
}

.labelek{
    margin-right: 750px;
    text-align: right;
    
}
.felasznalo{
    background-color: brown;
    
}
.urlap{
    text-align: center;
}
.submit{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .input{
        margin-left: 0px;
        text-align: left;
    }
    
    .labelek{
        margin-right: 0px;
        text-align: left;
        
    }
    .felasznalo{
        background-color: brown;
        
    }
    .urlap{
        text-align: left;
    }
    .submit{
        text-align: left;
    }  
}

